@model AllAboutBoxing.Web.ViewModels.HallOfFame.HallOfFameBoxersListViewModel
@{
    this.ViewData["Title"] = "The greatest boxers of all time";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<hr />
<p class="text-center">Mike Tyson, Joe Frazier and of course Muhammad Ali — there have been many legendary boxers. Here's our list of the very best.</p>
<hr />

@foreach (var boxer in Model.HallOfFameBoxers)
{
    <div class="text-center list-group-item-dark">
        <div class="teaserImg">
            <img class="table-responsive-sm" src="@boxer.BoxerImageUrl">
        </div>
        <div class="teaserContentWrap">
            <div class="tools">
            </div>
            <h3>
                <a class="font-weight-bold" asp-action="ById" asp-route-id="@boxer.Id">@boxer.BoxerName</a>
            </h3>
            <p>@boxer.Description</p>
        </div>
    </div>
}

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item @if (!Model.HasPreviousPage)  { <text>disabled</text> }">
            <a class="page-link btn-outline-danger" asp-action="Index" asp-route-id="@Model.PreviousPageNumber">Previous</a>
        </li>
        @for (int i = Model.PageNumber - 2; i < Model.PageNumber; i++)
        {
            @if (i > 0)
            {
                <li class="page-item"><a class="page-link btn-outline-danger" asp-action="Index" asp-route-id="@i">@i</a></li>
            }
        }

        <li class="page-item active">
            <span class="page-link bg-danger">
                @Model.PageNumber
                <span class="sr-only">(current)</span>
            </span>
        </li>

        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 2; i++)
        {
            @if (i <= Model.PagesCount)
            {
                <li class="page-item"><a class="page-link btn-outline-danger" asp-action="Index" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item @if (!Model.HasNextPage)  { <text>disabled</text> }">
            <a class="page-link btn-outline-danger" asp-action="Index" asp-route-id="@Model.NextPageNumber">Next</a>
        </li>
    </ul>
</nav>

