@model AllAboutBoxing.Web.ViewModels.Boxers.SingleBoxerViewModel

@{
    this.ViewData["Title"] = @Model.Name;
}

<h1>@this.ViewData["Titlе"]</h1>
<hr />

<div>
    <img src="@Model.ImageUrl" class="float-right">
    <div class="text-center font-weight-bold">
        <h2 class="row col-md-8 d-inline-block">@Model.Name (@Model.Record.Wins-@Model.Record.Loses-@Model.Record.Draws) <img src="@Model.Country.FlagUrl" /></h2>
        <ul class="d-block">
            <li class="row col-md-8 table-dark font-weight-bold text-uppercase">Boxers profile</li>
            <li class="row">
                <span class="col-md-2 table-danger">Status</span>
                @if (Model.IsActive)
                {
                    <span class="col-md-8 table-success">Active</span>
                }
                else
                {
                    <span class="col-md-8 table-success">Inactive</span>
                }
            </li>
            <li class="row"><span class="col-md-2 table-danger">Alias</span><span class="col-md-8 table-success">@Model.Alias</span></li>
            @if (Model.IsActive)
            {
                <li class="row"><span class="col-md-2 table-danger">Age</span><span class="col-md-8 table-success">@Model.Age</span></li>
            }
            <li class="row"><span class="col-md-2 table-danger">BirthDate</span><span class="col-md-8 table-success">@Model.BirthDate</span></li>
            <li class="row"><span class="col-md-2 table-danger">Height </span><span class="col-md-8 table-success">@Model.Height</span></li>
            <li class="row"><span class="col-md-2 table-danger">Reach </span><span class="col-md-8 table-success"> @Model.Reach</span></li>
            <li class="row"><span class="col-md-2 table-danger">Country</span><span class="col-md-8 table-success">@Model.Country.Name</span></li>
            @if (!Model.IsActive)
            {
                <li class="row"><span class="col-md-2 table-danger">Residence</span><span class="col-md-8 table-success">@Model.Residence</span></li>
            }
            else
            {
                <li class="row"><span class="col-md-2 table-danger">Residence</span><span class="col-md-6 table-success">@Model.Residence</span></li>
            }
        </ul>
        <hr />
        <ul>
            <li class="row col-md-8 table-dark font-weight-bold text-uppercase">Full record</li>
            <li class="row"><span class="col-md-2 table-danger">Division</span><span class="col-md-6 table-success">@Model.WeightClass.Division</span></li>
            <li class="row"><span class="col-md-2 table-danger">Wins </span><span class="col-md-6 table-success">@Model.Record.Wins</span></li>
            <li class="row"><span class="col-md-2 table-danger">By KO </span><span class="col-md-6 table-success">@Model.Record.Kos</span></li>
            <li class="row"><span class="col-md-2 table-danger">KO% </span><span class="col-md-6 table-success">@Math.Ceiling((Model.Record.Kos) * 1.0 / (Model.Record.Wins) * 100)%</span></li>
            <li class="row"><span class="col-md-2 table-danger">Lost </span><span class="col-md-6 table-success">@Model.Record.Loses</span></li>
            <li class="row"><span class="col-md-2 table-danger">Draws </span><span class="col-md-6 table-success">@Model.Record.Draws</span></li>
            <li class="row"><span class="col-md-2 table-danger">Debut </span><span class="col-md-6 table-success">@Model.Debut</span></li>
        </ul>
    </div>
</div>
<hr />

<div>
    <p>@Model.Description</p>
</div>

<hr />

@if (Model.Bouts.Any())
{

    <h2 class="text-center">Professional boxing record</h2>

    <table class="table table-striped table-hover text-center">
        <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Opponent</th>
                <th>Place</th>
                <th>Titles</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bout in Model.Bouts.OrderByDescending(x => x.Id))
            {
                <tr>
                    <td class="d-inline-block text-truncate">
                        @bout.BoutDate
                    </td>
                    <td>
                        @bout.OpponentName
                    </td>
                    <td>
                        @bout.Place
                    </td>
                    <td>
                        @bout.TitlesInFight
                    </td>
                    <td>
                        @if (bout.WayOfFinish.StartsWith("WIN"))
                        {
                            <span class="text-success">@bout.WayOfFinish</span>
                        }
                        else if (bout.WayOfFinish.StartsWith("LOSS"))
                        {
                            <span class="text-danger">@bout.WayOfFinish</span>
                        }
                        else
                        {
                            <span class="text-secondary">@bout.WayOfFinish</span>
                        }
                    </td>
                </tr>
            }
    </table>
}
