@model AllAboutBoxing.Web.ViewModels.Boxers.BoxerInListViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<hr />

<div class="text-center">
    <img src="@Model.ImageUrl">
    <h5><a class="font-weight-bold" asp-action="ById" asp-route-id="@Model.Id">@Model.Name</a></h5>
    <img src="@Model.CountryFlagUrl">
    <p><a class="font-weight-bold" asp-action="All">Back to full list</a></p>
</div>

