@model AllAboutBoxing.Web.ViewModels.News.NewsListViewModel

@{
    this.ViewData["Title"] = "News";
}

@foreach (var news in Model.NewsList)
{
    <div class="list-group-item-dark text-center col-md-8" style="z-index:100">
        <img class="float-sm-left img-fluid" src="@news.ImageUrl" style="width:300px;height:200px;">
        <div class="teaserContentWrap">
            <div class="tools">
            </div>
            <h5><a class="text-body font-weight-bold" asp-action="NewsById" asp-route-id="@news.Id">@news.Name</a></h5>
            <p>@news.DescriptionOnNewsPage ...</p>
        </div>
    </div>
}

<div class="col-md-11 card-img-overlay" style="top:340px; z-index:0">
    <div class="row justify-content-md-end">
        <div class="text-center">
            <div id="7fa7ece2e82442e3e553fb9d03932a86" class="ww-informers-box-854753 offset-2">
                <p class="ww-informers-box-854754">
                    <a href="https://world-weather.info/">world-weather.info</a>
                    <br>
                    <a href="https://world-weather.info/">world-weather.info</a>
                </p>
            </div>
        </div>
    </div>
</div>

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item @if (!Model.HasPreviousPage)  { <text>disabled</text> }">
            <a class="page-link btn-outline-danger" asp-action="News" asp-route-id="@Model.PreviousPageNumber">Previous</a>
        </li>
        @for (int i = Model.PageNumber - 2; i < Model.PageNumber; i++)
        {
            @if (i > 0)
            {
                <li class="page-item "><a class="page-link btn-outline-danger" asp-action="News" asp-route-id="@i">@i</a></li>
            }
        }

        <li class="page-item active">
            <span class="page-link bg-danger">
                @Model.PageNumber
                <span class="sr-only">(current)</span>
            </span>
        </li>

        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 2; i++)
        {
            @if (i <= Model.PagesCount)
            {
                <li class="page-item"><a class="page-link btn-outline-danger" asp-action="News" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item @if (!Model.HasNextPage)  { <text>disabled</text> }">
            <a class="page-link btn-outline-danger" asp-action="News" asp-route-id="@Model.NextPageNumber">Next</a>
        </li>
    </ul>
</nav>

@section Scripts{
    <script async type="text/javascript" charset="utf-8" src="https://world-weather.info/wwinformer.php?userid=7fa7ece2e82442e3e553fb9d03932a86"></script>
}
