@model AllAboutBoxing.Web.ViewModels.Champions.ChampionsListViewModel
@{
    this.ViewData["Title"] = "Champions";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<hr />

@foreach (var champion in Model.Champions)
{
    <div class="text-center">
        <h2>@champion.ChampionName</h2>
        <div class="row">
            <div class="col-md-12 text-center text-primary dark">@champion.WeightLimit</div>
            <div class="col-md-12 text-center text-primary">@champion.Organization</div>
        </div>
        <img src="@champion.ImageUrl" class="rounded mx-auto d-block">
    </div>
    <hr />
}
