@model AllAboutBoxing.Web.ViewModels.Champions.ChampionsListViewModel
@{
    this.ViewData["Title"] = "Champions";
}

@section Styles{ 
<link rel="stylesheet" href="~/css/HighChart/Index.css"/>
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<hr />

@foreach (var champion in Model.Champions)
{
    <div class="text-center list-group-item-info">
        <h3>
            <a class="font-weight-bold" asp-action="ById" asp-route-id="@champion.Id">@champion.ChampionName  </a><span><img src="@champion.CountryFlagUrl"></span>
        </h3>
        <h3 class="col-md-12 text-center">@champion.Organization - @champion.WeightLimit</h3>
        <img src="@champion.ImageUrl" class="rounded mx-auto d-block">
    </div>
    <hr />
}

<div class="buttons">
    <button id="2000">
        2000
    </button>
    <button id="2004">
        2004
    </button>
    <button id="2008">
        2008
    </button>
    <button id="2012">
        2012
    </button>
    <button id="2016" class="active">
        2016
    </button>
</div>
<div id="container"></div>

@section Scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="~/js/HighCharts/Index.js"></script>
}